
/* Styling/effects for the whole webpage  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

/* Pre declaring the colours/styles for easy access in the further code  */
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;   
}


.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default; 
}

.topbar a{
    font-size: 1.7rem;
    margin-left: 4rem;
    color: var(--text-color);
    transition: 0.5s;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

/* About section  */
